<div class="d-flex flex-column justify-content-center px-4 px-lg-5 banner text-center">
  <h1 class="m-0 display-1 fw-bold">Hello World!</h1>
  <h1 class="mb-4 display-1 fw-bold subheader">I'm <span class="gradient-text">Fairul Izwan</span></h1>
  <div class="row justify-content-center">
    <ul class="p-0 mb-4 col-12 justify-content-center">

      <li>
        <%= link_to "https://github.com/flabroo", target: :_blank, class: "icon" do %>
          <i class="fa-brands fa-2xl fa-square-github"></i>
        <% end %>
      </li>

      <li>
        <%= link_to "https://www.linkedin.com/in/fairul-izwan/", target: :_blank, class: "icon" do %>
          <i class="fa-brands fa-2xl fa-linkedin"></i>
        <% end %>
      </li>

      <li>
        <%= mail_to "izwanrul11@gmail.com", target: :_blank, class: "icon" do %>
          <i class="fa-solid fa-2xl fa-envelope"></i>
        <% end %>
      </li>
    </ul>
    <p class="col-12 col-lg-7">I love developing web applications and solving the next problem. And the occasional chai latte ☕️</p>
  </div>
</div>

<svg class="home-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fafafa" fill-opacity="1" d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>

<div class="px-4 px-lg-0 py-5 m-auto bg-white home-section">
  <div class="container">
    <div id="about" class="home-skills mb-5">
      <h2>About Me</h2>
      <div class="row shadow rounded border p-2 py-3 skills-card">
        <div class="skills-img col-12 col-lg-3 d-flex justify-content-center">
          <%= image_tag "fairul.jpeg", class: "rounded" %>
        </div>
        <div class="skills-con col-12 col-lg-9 d-flex flex-column justify-content-evenly">
          <ul class="p-0 m-0 mb-3 mt-3 mt-lg-0 justify-content-center justify-content-lg-start">
            <li>Ruby on Rails</li>
            <li>Ruby</li>
            <li>SQL</li>
            <li>Javascript</li>
            <li>Stimulus</li>
            <li>React</li>
            <li>HTML</li>
            <li>CSS</li>
          </ul>
          <div class="con-text">
            <h3 class= "text-center text-lg-start">An aspiring Software Developer</h3>
            <p class= "text-center text-lg-start">I am a mid-career switcher after 5 years in the events industry. I realized my passion in web development after tinkering with the “custom settings” of a website builder (which I realize now it's just HTML & CSS). Now, I work on my own projects using Ruby on Rails, Javascript & PostgreSQL. I also teach and guide future developers at Le Wagon.</p>
            <%= link_to "more about me", about_path, class: "link-text" %>
          </div>
        </div>
      </div>
    </div>

    <div class="home-projects">
      <h2 id="projects">Projects</h2>
      <% @projects.each do |project| %>
        <div class="home-project row">
          <div class="project-content pe-5 col-12 col-lg-9 order-2 order-lg-1">
            <h4 class="m-0"><%= project.role %></h4>
            <h3><%= project.name %></h3>
            <ul class="m-0 p-0 my-4">
              <% project.languages.each do |l| %>
                <li><%= l.name %></li>
              <% end %>
            </ul>
            <p><%= project.summary.html_safe %></p>
            <%= link_to "View Project", project_path(project), class: "btn-main d-inline-block m-0" %>
          </div>
          <div class="project-img col-10 m-auto col-lg-3 order-1 order-lg-2">
            <% if project.logo_path %>
              <%= image_tag project.logo_path, class: "mb-3 rounded w-100" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="home-contact d-flex flex-column align-items-center mb-5">
      <h2 class="text-center">I'm open to work, let's have a chat!</h2>
      <div class="contact-icons d-flex justify-content-evenly">
        <%= mail_to "izwanrul11@gmail.com" do %>
          <i class="fa-solid fa-3x fa-envelope fa-fw"></i>
        <% end %>
        <%= link_to "tel:+6597269434" do %>
          <i class="fa-solid fa-3x fa-phone fa-fw"></i>
        <% end %>
        <%= link_to "https://wa.me/6597269434" do %>
          <i class="fa-3x fa-brands fa-square-whatsapp fa-fw"></i>
        <% end %>
      </div>
    </div>
  </div>

</div>
