<div class="container px-4 px-lg-0 py-5 m-auto">
  <h1><%= @project.name %></h1>
  <p><%= @project.role %></p>
  <p><%= @project.kind %></p>
  <p><%= @project.summary %></p>
  <p>Purpose</p>
  <p><%= @project.purpose %></p>
  <p>Explanation</p>
  <p><%= @project.explanation %></p>
</div>
