<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{@project.name} | " if @project %>Fairul Izwan</title>
    <!-- Primary Meta Tags -->
    <meta name="title" content="Fairul Izwan | Software Developer">
    <meta name="description" content="I love developing web applications and solving the next problem. And the occasional chai latte ☕️">
    <meta name="Keywords" content="Singapore, Junior Developer, Software Engineering, Software Development, Ruby on Rails, Full-stack Development, Front-end Development, Back-end Development, Technology, Portfolio, Projects, Mid-career Switch">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:title" content="Fairul Izwan | Software Developer">
    <meta property="og:description" content="I love developing web applications and solving the next problem. And the occasional chai latte ☕️">
    <meta property="og:image" content="<%= image_url(asset_path('meta-pic.jpg')) %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= request.original_url %>">
    <meta property="twitter:title" content="Fairul Izwan | Software Developer">
    <meta property="twitter:description" content="I love developing web applications and solving the next problem. And the occasional chai latte ☕️">
    <meta property="twitter:image" content="<%= image_url(asset_path('meta-pic.jpg')) %>">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon/favicon.ico') %>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@300;500&family=Source+Code+Pro:wght@300&family=Unna:wght@400;700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% unless ["/404", "/500"].include?(request.path) %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= yield %>
    <% unless ["/404", "/500"].include?(request.path) %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>
